# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IPython / Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories and files
.vscode/
.DS_Store

# Model artifacts
*.pkl
